.button {
    border: none;
    background: none;
    color: var(--neutral-800);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    transition: all 0.2s ease-in-out;
}
.button > span {
    font-weight: 600;
    font-size: 1rem;
}
.button:hover {
    cursor: pointer;
    color: var(--neutral-600);
}
