nav {
    display: flex;
    justify-content: space-around;
    padding: 20px 15px;
    outline: 1px solid #dbdbdb;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    align-items: center;
}
li {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.github-logo {
    height: 35px;
    transition: all 0.2s ease;
}
.github-logo:hover {
    opacity: 0.6;
}
.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s ease;
    font-weight: 400;
    color: #4e4e4e;
    opacity: 0.8;
}
.link:hover {
    color: black;
    opacity: 1;
}
.auth-button {
    outline: 1px solid #dbdbdb;
    padding: 8px 20px;
    border-radius: 10px;
    transition: all 0.2s ease;
    text-decoration: none;
    color: black;
    font-weight: 400;
}
.auth-button:hover {
    background-color: #ebebeb;
    outline-color: #cccbcb;
}
.separator {
    background-color: black;
    height: 20px;
    width: 1px;
}
.current {
    color: black;
    text-decoration: 1.5px underline;
    opacity: 1;
}
.user-picture {
    height: 35px;
    border-radius: 50%;
}
.smaller-screen {
    display: none;
}
@media only screen and (max-width: 600px) {
    .normal-screen {
        display: none;
    }
    .smaller-screen {
        display: block;
    }
}
