.home-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.image-container {
    display: flex;
    gap: 20px;
    align-items: center;
}
.image-container > img {
    height: 200px;
}
.text-container {
    outline: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 50px 20px;
}
.text-container > h2 {
    margin: 0;
    font-size: 4rem;
    font-weight: 900;
}
.text-container > p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
    color: #4e4e4e;
}

.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    outline: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
}
form > h2 {
    margin-top: 0;
}
.competition-name,
.competitors,
.scoring-system {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.scoring-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.scoring-inputs > div {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.scoring-inputs label {
    text-align: center;
    font-weight: 400;
    font-size: 0.9rem;
    color: #4e4e4e;
    opacity: 0.8;
}
.scoring-inputs input {
    text-align: center;
}
input,
textarea {
    border: none;
    outline: 1px solid #dbdbdb;
    padding: 10px;
    border-radius: 8px;
    transition: outline 0.2s ease;
    resize: vertical;
    font-weight: 400;
}
input::placeholder,
textarea::placeholder {
    opacity: 0.6;
}
input:hover,
textarea:hover {
    outline-color: #4e4e4e;
}
input:focus,
textarea:focus {
    outline-color: black;
}
button {
    border: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    transition: all 0.2s ease;
    border-radius: 8px;
    margin-top: 20px;
}
button:hover {
    opacity: 0.6;
    cursor: pointer;
}
