<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="/images/trophy.svg" />
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="stylesheet" href="/styles/header.css" />
        <link rel="stylesheet" href="/styles/competition.css" />
        <title><%= title %></title>
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <h1>Upravljanje natjcanjem: <%= competitionName %></h1>
        <% for(let i = 0; i < competitors.length - 1; i++) { %>
        <div>Kolo <%= i + 1 %>:</div>
        <% } %>
    </body>
</html>
