html
    head
        style
            include ../public/styles/index.css
    body
        h1(class="title") Praćenje natjecanja
        div(class="login-button-container")
            button(class="login-button" type="button") Prijava
