<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="styles/global.css" />
        <link rel="stylesheet" href="styles/header.css" />
        <link rel="stylesheet" href="styles/index.css" />
        <link rel="icon" type="image/x-icon" href="../images/trophy.svg" />
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <div class="wrapper">
            <% if(!isAuthenticated) { %>
            <div class="image-container">
                <img src="../images/trophy.svg" alt="trophy" />
                <div class="text-container">
                    <h2>Jednokružni sustav natjecanja</h2>
                    <p>
                        Definiranje i praćenje natjecanja koja se odvijaju po
                        jednokružnom sustavu natjecanja.
                    </p>
                    <p>
                        Prijavite se kako bi mogli iskoristiti sve značajke
                        sustava.
                    </p>
                </div>
            </div>
            <% } else { %>
            <form action="" method="post">
                <h2>Novo natjecanje</h2>
                <div class="competition-name">
                    <label for="competitionName">Naziv natjecanja</label>
                    <input
                        type="text"
                        name="competitionName"
                        placeholder="Unesite naziv natjecanja"
                        required
                    />
                </div>
                <div class="competitors">
                    <label for="competitors">Natjecatelji</label>
                    <textarea
                        name="competitors"
                        placeholder="Unesite natjecatelje"
                        required
                    ></textarea>
                </div>
                <div class="scoring-system">
                    <label for="scoringSystem">Sustav bodovanja</label>
                    <div class="scoring-inputs">
                        <div>
                            <label for="win">Pobjeda</label>
                            <input
                                type="number"
                                name="win"
                                min="0"
                                value="0"
                                required
                            />
                        </div>
                        <div>
                            <label for="draw">Remi</label>
                            <input
                                type="number"
                                name="draw"
                                min="0"
                                value="0"
                                required
                            />
                        </div>
                        <div>
                            <label for="">Poraz</label>
                            <input
                                type="number"
                                name="loss"
                                min="0"
                                value="0"
                                required
                            />
                        </div>
                    </div>
                </div>
                <button type="submit">Stvori</button>
            </form>
            <% } %>
        </div>
    </body>
</html>
