<nav>
    <% if(!isAuthenticated) { %>
    <ul>
        <li><a href="/login">Prijava</a></li>
    </ul>
    <% } else { %>
    <ul>
        <li><a href="/">PoÄetna</a></li>
        <li><a href="/competitions/new">Novo natjecanje</a></li>
        <li>
            <a href="/competitions/current">Trenutno natjecanje</a>
        </li>
        <li>
            <a href="/competitions/current/results">Rezultati</a>
        </li>
    </ul>
    <ul>
        <% if(user) { %>
        <li><%= user.name %></li>
        <% } %>
        <li><a href="/logout">Odjava</a></li>
    </ul>
    <% } %>
</nav>
