<nav>
    <% if(!user) { %>
    <ul>
        <li>
            <a class="auth-button" href="/login">Prijava</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://github.com/mariopetek/web2-lab1" target="_blank">
                <img class="github-logo" src="../../images/github-mark.svg" alt="github">
            </a>
        </li>
    </ul>
    <% } else { %>
    <ul>
        <li>
            <a <% if(name === 'index') { %> class="link current" <% } else { %>class="link"<% } %> href="/" >
                PoÄetna
            </a>
        </li>
        <li><div class="separator"></div></li>
        <li>
            <a <% if(name === 'competitions') { %> class="link current" <% } else { %>class="link"<% } %> href="/competitions">
                Natjecanja
            </a>
        </li>
        <li><div class="separator"></div></li>
        <li>
            <a <% if(name === 'results') { %> class="link current" <% } else { %>class="link"<% } %> href="/results">
                Rezultati
            </a>
        </li>
    </ul>
    <ul>
        <li><img class="user-picture" src="<%= user.picture %>" alt=""></li>
        <li><%= user.name %></li>
        <li><a class="auth-button" href="/logout">Odjava</a></li>
    </ul>
    <% } %>
</nav>
