<nav>
    <% if(!user) { %>
    <ul>
        <li>
            <a class="auth-button" href="/login" title="Prijava">Prijava</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="https://github.com/mariopetek/web2-lab1" target="_blank" title="Javni repozitorij projekta">
                <img class="github-logo" src="../../images/github-mark.svg" alt="github">
            </a>
        </li>
    </ul>
    <% } else { %>
    <ul>
        <li>
            <a <% if(name === 'index') { %> class="link current" <% } else { %>class="link"<% } %> href="/" title="Početna">
                Početna
            </a>
        </li>
        <li><div class="separator"></div></li>
        <li>
            <a <% if(name === 'competitions') { %> class="link current" <% } else { %>class="link"<% } %> href="/competitions" title="Natjecanja">
                Natjecanja
            </a>
        </li>
    </ul>
    <ul>
        <li class="normal-screen"><img class="user-picture" src="<%= user.picture %>" alt="user_picture"></li>
        <li class="normal-screen"><%= user.name %></li>
        <li class="smaller-screen"><%= user.name.split(" ")[0].slice(0, 1) %>. <%= user.name.split(" ")[1].slice(0, 1)%>.</li>
        <li><a class="auth-button" href="/logout" title="Odjava">Odjava</a></li>
    </ul>
    <% } %>
</nav>
