<div class="image-container">
    <img src="../images/trophy.svg" alt="trophy" />
    <div class="text-container">
        <h2>Jednokružni sustav natjecanja</h2>
        <p>
            Definiranje i praćenje natjecanja koja se odvijaju po jednokružnom
            sustavu natjecanja.
        </p>
        <p>Prijavite se kako bi mogli iskoristiti sve značajke sustava.</p>
    </div>
</div>
