<div class="image-container">
    <img src="../images/trophy.svg" alt="trophy" />
    <div class="text-container">
        <h2>Jednokružni sustav natjecanja</h2>
        <p>
            Definiranje i praćenje natjecanja koja se odvijaju po jednokružnom
            sustavu natjecanja.
        </p>
        <p>
            <a href="/login">Prijava </a> omogućuje korištenje svih značajki
            sustava.
        </p>
    </div>
</div>
